<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employee Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap-theme.min.css"
        th:href="@{/css/bootstrap-theme.min.css}" />
</head>

<body>

<h1 th:text="#{employeeList.header}">This is the employee list example.</h1>



<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>


</body>

</html>
