<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Welcome - Employee Management System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
</head>

<body>

<p>Welcome to the Employee Management System.</p>

<ul class="nav nav-stacked">
    <li ><a th:href="@{/employeeList}" href="./employeeList">Employee List</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Messages</a></li>
</ul>

<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>


</body>

</html>
